<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    {%block font%}
    {%endblock font%}
    {%block stylesheet%}
    {%endblock stylesheet%}
    
    
    <title>Library Manager</title>
    <style>
    {%block style%}
    {%endblock style%}
    </style>
    
</head>
<body>
    {%block body%}
    {%endblock body%}
</body>
<script>
    {%block script%}
    {%endblock script%}
</script>
</html>



